<div class="poet-box col-10 offset-1">
  <h1>Edit Poet Details Here</h1>
  <%= simple_form_for @poet do |f| %>
    <%= f.input :name %>
    <%= f.input :dates %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>