<div class="poet-box col-10 offset-1">
  <h1>Are we missing a poet?</h1><br />
  <h5>Help us expand our list! Please enter the name, description, birth year and passing year of a notable poet.</h5><hr />
    <%= simple_form_for @poet do |f| %>
      <%= f.input :name %>
      <%= f.input :dates %>
      <%= f.input :description %>
      <br />
      <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
  </div>